<td>{{campaign.name}}</td>
<td>{{campaign.status}}</td>
<td>{{campaign.views}}</td>
<td>{{campaign.sales}}</td>
<td>${{campaign.revenue}}</td>
<td>${{edit-box text=campaign.spend edit=edit saveText="saveText"}}</td>
<td>{{campaign.param}}</td>
<td>{{campaign.date}}</td>
<td>{{campaign.adspendPerOrder}}</td>
<td>{{campaign.adVsSpend}}</td>
<td>{{link-to 'View Stats' 'campaigns.stats' campaign}}</td>
<td>{{link-to 'edit' 'campaigns.edit' campaign}}</td>