<div style="width: 500px;">
	{{#power-select selected=selectedRange searchEnabled=false options=ranges onchange=(action "changeRange") as |range|}}
	  {{range}}
	{{/power-select}}
</div>

{{#if showDatepicker}}
	<label>
		Start date:
		{{pikaday-input format="MM/DD/YYYY" onSelection=(action 'startDateValue')}}
	</label>
	<label>
		End date:
		{{pikaday-input format="MM/DD/YYYY" onSelection=(action 'endDateValue')}}
	</label>
{{/if}}