<form class="form-horizontal">
  <div class="form-group">
	<label for="name" class="col-sm-2 control-label">Campaign Name</label>
	<div class="col-sm-4">
	  {{input class="form-control" value=model.name placeholder="Campaign Name"}}
    </div>
  </div>
  <div class="form-group">
	<label for="param" class="col-sm-2 control-label">Campaign URL Parameter</label>
	<div class="col-sm-4">
      {{input class="form-control" value=model.param placeholder="parameter"}}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Save</button>
      <button class="btn btn-default" {{action "cancel"}}>Cancel</button>
    </div>
  </div>
</form>
