<form class="form-horizontal">
  <div class="form-group">
  	<label for="name" class="col-sm-2 control-label">Campaign Name</label>
  	<div class="col-sm-2">
	   {{input class="form-control" value=model.name}}
    </div>
  </div>
  <div class="form-group">
    <label for="spend" class="col-sm-2 control-label">Spend</label>
    <div class="col-sm-2">
      {{input class="form-control" value=model.spend}}
    </div>
  </div>
  <div class="form-group">
	<label for="param" class="col-sm-2 control-label">Campaign URL Parameter</label>
	<div class="col-sm-2">
      {{input class="form-control" value=model.param}}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          {{input type="checkbox" checked=model.active}} Active
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Save</button>
      <button class="btn btn-default" {{action "cancel"}}>Cancel</button>
      {{#form-delete model=model delete="delete"}}
	    {{/form-delete}}
    </div>
  </div>
</form>