body 
{
	background-color: #F9F9FB;
}

table 
{
    border: 1px solid #F1F1F5;
    background-color: white;
}

tr 
{
   min-height: 25px;
   height: 45px;
}

td 
{
	vertical-align: middle !important;
}

.navbar 
{
     border-radius: 0px; 
}

.navbar-inverse
{
	background-color: #2D2E2F;
}

.stats-box
{
	margin-bottom: 10px !important;
	width: 60%;
	border: 1px solid #ccc;
	box-shadow: 5px 5px 5px #999;
	background-color: white;
}

.new-campaign-btn
{
	margin: 15px;
}

.ember-text-field
{
	width: 50px;
}

