<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Please enter your shop URL (without http://) to Install</h1>
            <h2 class="text-center login-title">This Page is Internal Only</h2>
            <div class="account-wall">
                  <%= form_for :shop, :html => {:class => "form-signin"} do |f| %>
                    Enter Shop URL: <%= f.text_field :shop_url, :class => 'form-control' %><br />
                    <%= f.submit 'Install', :class => 'btn btn-lg btn-primary btn-block' %>
                  <% end %>
            </div>
        </div>
    </div>
</div>