<div class="col-md-12">
  <div class="list-group">
    <div class="row">
      <h3 style="margin-top: -6px;"> Campaigns Dashboard</h3>
      {{#link-to 'campaigns.new'}}
        <button class="btn btn-primary pull-left new-campaign-btn">New Campaign</button>
      {{/link-to}}
      
      {{#search-bar campaigns=model.campaigns filter="filter"}}
      {{/search-bar}}

      {{#date-select startDateValue="startDateValue" endDateValue="endDateValue" changeRange="changeRange"}}
      {{/date-select}}
      
      <table class="table table-hover">
        <thead class="thead-inverse">
          <tr>
            <th>Campaign</th>
            <th>Status</th>
            <th>Views</th>
            <th>Sales</th>
            <th>Revenue</th>
            <th>Spend</th>
            <th>Param</th>
            <th>Created</th>
            <th>Adspend <br/> per Order</th>
            <th>Adspend vs <br/> Revenue %</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each filteredCampaigns as |campaign|}}
            {{campaign-row campaign=campaign saveText="saveText"}}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

