<div class="col-md-12">
  <div class="list-group">
    <div class="row">
        <table class="table table-striped">
          <thead class="thead-inverse">
          <tr>
            <th>Campaign</th>
            <th>Status</th>
            <th>Views</th>
            <th>Sales</th>
            <th>Revenue</th>
            <th>Spend</th>
            <th>Param</th>
            <th>Created</th>
            <th>Adspend <br/> per Order</th>
            <th>Adspend vs <br/> Revenue %</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
            {{campaign-row campaign=model.campaign}}
          </tbody>
        </table>
    </div>
  {{shop}}
  {{#link-to 'campaigns.index'}}
    <button class="btn btn-primary">Return to Campaigns List</button>
  {{/link-to}}
  </div>
 
</div>
