<div class="col-md-12">
  	<div class="list-group">
	    <div class="row">
			<h3> Detailed Stats </h3>
			<div class="col-md-12">
			  <div class="container-fluid">
			    <div class="row">
				  {{#each model as |order|}}
				    {{#each order.line_items as |item|}}
				    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 stats-box">
					  <div style="width: 80%; float:left">
					    <h2>{{item.title}}</h2>
					  </div>
					  <div style="width: 20%; float:right">
					    <p style="margin-top:20%;">Ordered: {{format-date order.created_at}}</p>
					    <p>Price: {{item.price}}</p>
					    <p>Qty: {{item.quantity}}</p>
				      </div>
				    </div>
				    {{/each}}
				  {{/each}}
			    </div>
			  </div>
			</div>
	  	</div>
	</div>
</div>